@charset "UTF-8";

ul.h_icons {
    display: flex;
    position: relative;
    left: 5%;
}

ul.h_icons li {
    list-style: none;
}

ul.h_icons li img {
    padding: 15px;
    width: 100px;
    color: white;
    margin: 20px;
    transition: .3s;
}

ul.h_icons li .fa {
    font-size: 50px;
}
