/* Projeto: Meu Site                                */
/* Desenvolvedor: Bruno Beltrame                    */
/* Link: https://github.com/bbeltrame01/MeuSite     */

@charset "UTF-8";

/* ==================== GERAL ===================== */

*{
	-webkit-box-sizing:border-box;
	   -moz-box-sizing:border-box;
	        box-sizing:border-box;
}

@font-face {
    font-family: Alisandra Demo;
    src: url('_fontes/Alisandra Demo.ttf') format('truetype');
    font-family: Avenir Light;
    src: url('_fontes/Avenir Light.otf');
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
}

body::-webkit-scrollbar {
    display: none;
}

/* Estilos básicos para a página */
html{
	background:#CCC;
	text-align: center;
	height:100%;
	font-size: 20px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
}
body{
    line-height: 1;
	font-family: Quicksand;
	height:100%;
	color:white;
}
.content{
	display:block;
	width:100%;
	top: 30%;
	max-width: 960px;
	margin:0 auto;
	overflow:hidden;
}
.bottom{
    position: relative;
	display: flex;
	width: 100%;
	bottom: 0;
	margin: 0 auto;
	background-color:#26292C;
	justify-content: center;
	flex-direction: row;
    align-items: center;
	height: 100px;
    padding: 70px;
}

/* Estilos para Texto da página */
h1 {
	font-size: 4rem;
	text-transform: uppercase;
	margin-bottom:20px;
}
h2 {
	font-size: 2.5rem;
	text-transform: uppercase;
	line-height: 4rem;
	margin-bottom:20px;
}
h3 {
	font-size: 1.6rem;
	text-transform: uppercase;
	line-height: 2.5rem;
	margin-bottom:20px;
}
p {
	font-size: 1rem;
	line-height: 2rem;
	text-shadow:none;
}

.content#QS, .content#F, .content#E, .content#H, .content#C, .content#I {
	padding: 100px;
}

.hero .content {
	position: relative;
}

.content img{
	display:inline;
	padding:10px;
}

/* Section Styles for the page */
section{
	background:white;
	padding:0;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
.overlay{
	position: relative;
  	z-index: 1;
}
.overlay:after{
	background:rgba(0, 0, 0, 0.6);
	content: "";
	width: 100%;
	height: auto;
	position: absolute;
	z-index: -1; 
 	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
}

/* ===================== HOME ===================== */

.wrapper{
	color:#000;
	text-shadow:none;
}
.hero{
	background:url('../_media/bg/laptop.jpg');
	background-size: cover;
	height: 100%;
    max-height:100%;
}
a:link, a:visited{
	color:#E0CB77;
	text-decoration: none;
}
a:active{
	color:#3F5263;
}
a:hover{
	text-decoration: underline;
}
a.btn {
	border: 3px solid #E0CB77;
	font-family: inherit;
	font-size: inherit;
	text-decoration: none;
	color: white ;
	background: transparent;
	cursor: pointer;
	padding: 1.4rem 4rem;
	display:inline-block;
	text-align:center;
	margin:0;
	text-transform: uppercase;
	letter-spacing: 1px;
	outline: none;
	position: relative;
	border-radius:2px;
	-webkit-transition:all 0.1s ease-in-out;
	   -moz-transition:all 0.1s ease-in-out;
	        transition:all 0.1s ease-in-out;
}
a.btn:hover{
	background:#E0CB77;
	color:white;
}

/* =================== QUEM SOU =================== */

/* =================== FORMAÇÃO =================== */
.middle{
	background:url('../_media/bg/binoculo_vintage.jpg');
}

/* ================= EXPERIÊNCIA ================== */

.timeline:before {
    content: '';
    position: absolute;
    left: 50%;
    width: 2px;
    height: 100%;
    background-color: #c5c5c5;
}

.timeline {
    position: relative;
    margin: 50px auto;
}

.timeline ul {
    position: relative;
}
.timeline ul li {
    line-height: normal;
    position: relative;
    width: 50%;
    padding: 20px 40px;
    box-sizing: border-box;
}

.timeline ul li:nth-child(odd){
    float: left;
    text-align: right;
    clear: both;
}
.timeline ul li:nth-child(even){
    float: right;
    text-align: left;
    clear: both;
}

.timeline ul li:nth-child(odd):before{
    content: '';
    position: absolute;
    top: 24px;
    right: -6px;
    width: 10px;
    height: 10px;
    background-color: rgb(224, 203, 119);
    border-radius: 50%;
}
.timeline ul li:nth-child(even):before{
    content: '';
    position: absolute;
    top: 24px;
    left: -4px;
    width: 10px;
    height: 10px;
    background-color: rgba(224, 203, 119);
    border-radius: 50%;
}
.timeline ul li h3 {
    margin: 0;
    padding: 0;
	font-weight: 600;
	font-size: 1.2rem;
	color: #E0CB77;
	line-height: 1;
}
.timeline ul li p{
    margin: 10px 0 0;
    padding: 0;
}
.timeline ul li .time h4{
    margin: 0;
    padding: 0;
    font-size: 16px;
}
.timeline ul li:nth-child(odd) .time{
    position: absolute;
    top: 12px;
    right: -135px;
    margin: 0;
    padding: 8px 16px;
    background-color: #E0CB77;
    color: #fff;
    border-radius: 18px;
}
.timeline ul li:nth-child(even) .time{
    position: absolute;
    top: 12px;
    left: -135px;
    margin: 0;
    padding: 8px 16px;
    background-color: #E0CB77;
    color: #fff;
    border-radius: 18px;
}

/* ================= HABILIDADES ================== */
.midlower{
	background:url('../_media/bg/camera_retro.jpg');
}

li#mysql img {
    position: relative;
    top: 10px;
}

ul.h_icons {
    display: block;
    position: relative;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

ul.h_icons li {
    list-style: none;
}

ul.h_icons li img {
    padding: 15px;
    width: 100px;
    color: white;
    margin: 20px;
    transition: .3s;
}

ul.h_icons li .fa {
    font-size: 50px;
}

.tooltip {
    position: relative;
    display: inline-block;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 90%;
    left: 50%;
    margin-left: -60px;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
  }

  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

/* =================== IDIOMAS ==================== */
.idiomas {
    display: block;
    position: relative;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.idiomas li {
    margin: 20px;
    text-align: left;
}

.idiomas li h3 {
    margin-bottom: 0;
}

/* ================= CERTIFICADOS ================ */
.lower {
    background:url('../_media/bg/notebook.jpg');
}

.certificados {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 50px 0;
}

.certificado {
    -ms-flex-preferred-size: calc(33.33333% - 30px);
    flex-basis: calc(33.33333% - 30px);
    margin: 0 15px 30px;
    overflow: hidden;
    border-radius: 28px;
}

.certificado_link {
    display: block;
    padding: 30px 20px;
    background-color: #121212;
    opacity: 0.75;
    overflow: hidden;
    position: relative;
}

.certificado_link:hover,
.certificado_link:hover .certificado_subtitle {
    text-decoration: none;
    color: #FFF;
    opacity: 1;
    transition: opacity 2s ease-out;
}

.certificado_link:hover .certificado_bg {
    -webkit-transform: scale(10);
    -ms-transform: scale(10);
    transform: scale(10);
}

.certificado_title {
    min-height: 87px;
    margin: 0 0 25px;  
    overflow: hidden;  
    font-weight: bold;
    font-size: 20px;
    color: #FFF;  
    z-index: 2;
    position: relative;
}

.certificado_subtitle {
    position: relative;
    font-size: 18px;
    font-weight: bold;
    color: #f9b234;
    z-index: 2;  
    -webkit-transition: color .5s ease;
    -o-transition: color .5s ease;
    transition: color .5s ease
}

.certificado_bg {
    height: 128px;
    width: 128px;
    background-color: #f9b234;  
    z-index: 1;
    position: absolute;
    top: -75px;
    right: -75px;  
    border-radius: 50%;  
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

.certificado:nth-child(2n) .certificado_bg {
    background-color: #3ecd5e;
  }
  .certificado:nth-child(3n) .certificado_bg {
    background-color: #e44002;
  }
  .certificado:nth-child(4n) .certificado_bg {
    background-color: #952aff;
  }
  .certificado:nth-child(5n) .certificado_bg {
    background-color: #cd3e94;
  }
  .certificado:nth-child(6n) .certificado_bg {
    background-color: #4c49ea;
  }

/* ==================== RODAPÉ ==================== */
.rodape {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.bottom p {  
	align-items: center;  
	font-size: calc(10px + 1vmin);
	padding: 10px 30px;
}

ul.icons {
    color: #fff;
    display: flex;
    flex-direction: row;
	position: relative;
	justify-content: center;
	align-items: center;
	line-height: 3rem;
	padding: 10px;
	width: 300px;
}

ul.icons li {
    list-style: none;
    display: block;
}

ul.icons li a .fa{
    position: relative;
    color: white;
    left: 10px;
    height: 10px;
    font-size: 30px;
    margin: 20px;
    z-index: 10;
    transition: .3s;
}

ul.icons li#linkedin a:hover .fa {
    color: #0077B5;
}
ul.icons li#github a:hover .fa {
    color: #1c1c1d;
}
ul.icons li#medium a:hover .fa {
    color: #1c1c1d;
}
ul.icons li#facebook a:hover .fa {
    color: #3b5999;
}